---
title: Data Science Tweets of the Day
layout: default
seo:
  name: Data Science Tweets of the Day - Twitter Sanity Preserver
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}:
      <span class="post-small">{{ post.description }}</span></a>
    </h1>

    <div class="post-date">
      <time datetime="{% if post.last_modified %}{{ post.last_modified | date_to_xmlschema }}{% endif %}">
        {{ post.date | date: "%-m/%-d/%Y" }}
      </time>
      <div>
        <small>
          <em>Updated {{ post.last_modified | date: "%-m/%-d/%Y %l:%M %p %Z" }}</em>
        </small>
      </div>
    </div>

    <div class="post-contributor">
      <small>
        <i class="fa fa-pencil" aria-hidden="true"></i> <a href="https://github.com/ceshine/dstotd/edit/master/{{ post.path }}" target="_blank">Improve this article</a> &nbsp; <i class="fa fa-history" aria-hidden="true"></i> <a href="https://github.com/ceshine/dstotd/commits/master/{{ post.path }}" target="_blank">Revision history</a> &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
        {% if post.contributors == "1" %}{{ post.contributors }} Contributor{% else %}{{ post.contributors }} Contributors{% endif %}
      </small>
    </div>

    <!-- pagination -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% assign nextpage = paginator.page | plus: 2 %}
      {% if nextpage > paginator.total_pages %}
        {% assign nextpage = paginator.total_pages %}
      {% endif %}
      {% assign prevpage = paginator.page | minus: 2 %}

      {% for page in (prevpage..nextpage) %}
        {% if page == paginator.page %}
          <span>{{ page }}</span>
        {% elsif page < 1 %}

        {% elsif page == 1 %}
          <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if nextpage > paginator.page %}
        <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
    {% include scroll-to-top.html %}
    <div id="toc">
      {% include toc.html html=post.content %}
    </div>
    <div class="post-content">
      {{ post.content }}
    </div>
  </article>
  {% endfor %}
</div>


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% assign nextpage = paginator.page | plus: 2 %}
  {% if nextpage > paginator.total_pages %}
    {% assign nextpage = paginator.total_pages %}
  {% endif %}
  {% assign prevpage = paginator.page | minus: 2 %}

  {% for page in (prevpage..nextpage) %}
    {% if page == paginator.page %}
      <span>{{ page }}</span>
    {% elsif page < 1 %}

    {% elsif page == 1 %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if nextpage > paginator.page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<div class="next-prev">
    <p>Or check the <a href="{{ site.baseurl }}/archive.html">archives</a></p>
</div>

<!-- <div class="next-prev">
    <p>Or check the <a href="{{ site.baseurl }}/archive/">archives</a></p>
</div> -->
