---
layout: default
---

<main class="content" role="main">
  <!-- <header class="blog-header">
      <h3 class="blog-description">{{ site.description }}</h3>
  </header> -->
  <div class="cf frame">
    <!-- pagination -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% assign nextpage = paginator.page | plus: 2 %}
      {% if nextpage > paginator.total_pages %}
        {% assign nextpage = paginator.total_pages %}
      {% endif %}
      {% assign prevpage = paginator.page | minus: 2 %}

      {% for page in (prevpage..nextpage) %}
        {% if page == paginator.page %}
          <span>{{ page }}</span>
        {% elsif page < 1 %}

        {% elsif page == 1 %}
          <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if nextpage > paginator.page %}
        <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h1 class="post-title">
              <a href="{{ site.baseurl }}{{ pagepage.url }}">
                {{ post.title }}:
              <span class="post-small">{{ post.description }}</span></a>
            </h1>
            <div class="post-meta">
              <div class="post-date">
                <time datetime="{% if post.last_modified %}{{ post.last_modified | date_to_xmlschema }}{% endif %}">
                  {{ post.date | date: "%-m/%-d/%Y" }} <em>Updated {{ post.last_modified | date: "%-m/%-d/%Y %l:%M %p %Z" }}</em>
                </time>
              </div>
              <div class="post-contributor">
                <i class="fa fa-pencil" aria-hidden="true"></i> <a href="https://github.com/ceshine/dstotd/edit/master/{{ post.path }}" target="_blank">Improve this article</a> &nbsp; <i class="fa fa-history" aria-hidden="true"></i> <a href="https://github.com/ceshine/dstotd/commits/master/{{ post.path }}" target="_blank">Revision history</a> &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
                {% if post.contributors == "1" %}{{ post.contributors }} Contributor{% else %}{{ post.contributors }} Contributors{% endif %}
              </div>
          </div>
          </header>
          {% include scroll-to-top.html %}
          <div id="toc">
            <center>Table of Contents</center>
            {% include toc.html html=post.content %}
          </div>
          <div class="post-content">
            {{ post.content }}
          </div>
        </div>
        <!-- pagination -->
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}

          {% assign nextpage = paginator.page | plus: 2 %}
          {% if nextpage > paginator.total_pages %}
            {% assign nextpage = paginator.total_pages %}
          {% endif %}
          {% assign prevpage = paginator.page | minus: 2 %}

          {% for page in (prevpage..nextpage) %}
            {% if page == paginator.page %}
              <span>{{ page }}</span>
            {% elsif page < 1 %}

            {% elsif page == 1 %}
              <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if nextpage > paginator.page %}
            <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}
        {% include footer.html %}
      </article>
    {% endfor %}
  </div>
</main>
