<header class="site-header" id="page-top">
  <a href="{{ site.baseurl }}/">
    <amp-img
      src= "/public/logo.png"
      width="640" height="72" layout="responsive" alt="Data Science Tweets of the Day"
      sizes="(min-width: 640px) 640px, (max-width: 380px) 320px, 90vw">
    </amp-img>
  </a>
  <!-- <div class="logo"><a href="{{ site.baseurl }}/" class="logo">{{ site.title }}</a></div> -->
  <div class="page-links">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    <a class="page-link" href="{{ site.baseurl }}/archive">Archive</a>
    <a class="page-link" href="{{ site.baseurl }}/search">Search</a>
    <a class="page-link" href="{{ site.baseurl }}/about">About</a>
  </div>
</header>
