---
---

@import "{{ site.theme }}";
// @import "variables";

body {
  font: 18px/28px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav ul li {
  font-size: 16px;
  line-height: 18px;
}

h2 {
  font-size: 28px;
  padding-top: 20px;
}

small {
  font-size: 16px;
}

footer {
  font-size: 14px;
}

footer small{
  font-size: 12px;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

.next-prev {
  text-align: center;
  padding: 1em 0em 0em 0em;
  font-size: 1.25em;
  a {
    padding: 0 .25em;
  }
}

#banner .archive-button{
  margin-left: -190px;
}

#banner .search-button{
  margin-left: -68px;
}

div.ais-hits--item{
  padding-bottom: 20px;
}

em.ais-Highlight{
  background-color: yellow;
}

header a.title{
  color: #f3f3f3;
}

header a.desc{
  color: LightGray;
}

#search-hits{
  height:2000px;
}

.post-content p{
  margin-top: 20px;
  margin-bottom: 0px;
}

.post-contributor{
  padding-bottom: 20px;
}

@media print, screen and (max-width: 720px) {
  #banner .archive-button{
    left: 340px;
  }

  #banner .search-button{
    left: 335px;
  }
}

.scrollToTop {
  color: #fafafa;
  font-size: 1.4em;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #E91E63;
  z-index: 9999;
  bottom: 10px;
  right: 10px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
}
#marker {
  position: absolute;
  top: 100px;
  width: 0px;
  height: 0px;
}
