---
layout: default
---
<article class="post">
  <h1 class="post-title">
    <a href="{{ site.baseurl }}{{ page.url }}">
      {{ page.title }}:
    <span class="post-small">{{ page.description }}</span></a>
  </h1>

  <div class="post-date">
    <time datetime="{% if post.last_modified %}{{ post.last_modified | date_to_xmlschema }}{% endif %}">
      {{ post.date | date: "%-m/%-d/%Y" }}
    </time>
    <div>
      <small>
        <em>Updated {{ post.last_modified | date: "%-m/%-d/%Y %l:%M %p %Z" }}</em>
      </small>
    </div>
  </div>

  <div>
    <small>
      <i class="fa fa-pencil" aria-hidden="true"></i> <a href="https://github.com/mkiser/WTFJHT/edit/master/{{ post.path }}" target="_blank">Improve this article</a> &nbsp; <i class="fa fa-history" aria-hidden="true"></i> <a href="https://github.com/mkiser/WTFJHT/commits/master/{{ post.path }}" target="_blank">Revision history</a> &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
      {% if post.contributors == "1" %}{{ post.contributors }} Contributor{% else %}{{ post.contributors }} Contributors{% endif %}
    </small>
  </div>

  <div class="post-content">
    {{ page.content }}
  </div>
</article>


<div class="pagination">
  <div class="next-prev">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>
</div>
